@import "tailwindcss";
@import "../themes/theme.css";

@layer components {
	.btn-primary {
		@apply px-4 py-2 font-semibold text-white transition rounded-xl;
		background: var(--color-primary);
	}

	.btn-primary:hover {
		background: var(--color-primary-dark);
	}

	.card {
		@apply p-6 rounded-2xl border;
		background: var(--surface);
	}

	.input {
		@apply w-full px-4 py-3 border rounded-xl outline-none;
	}
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@layer utilities {
  .animate-marquee {
    animation: marquee 20s linear infinite;
  }
}