---
import BaseLayout from '../components/base/BaseLayout.astro';
import Header from '../components/landing/Header.astro';
import Hero from '../components/landing/Hero.astro';
import Marquee from '../components/landing/Marquee.astro';
import BookingForm from '../components/landing/BookingForm.astro';
import Services from '../components/landing/Services.astro';
import Fleet from '../components/landing/Fleet.astro';
import Cta from '../components/landing/Cta.astro';
import Footer from '../components/landing/Footer.astro';
---

<BaseLayout>
  <Header />
  <main>
    <Hero />
    <Marquee />
    <BookingForm />
    <Services />
    <Fleet />
    <Cta />
  </main>
  <Footer />
</BaseLayout>