---
import BaseLayout from "../components/base/BaseLayout.astro";
import Header from "@/features/landing/Header";
import Footer from "@/components/landing/Footer.astro";
import PrivacyLoymar from "@/components/privacy/PrivacyLoymar.astro";
---

<BaseLayout>
  <Header client:idle />
  <main class="pt-20">
    <PrivacyLoymar />
  </main>
  <Footer />
</BaseLayout>